<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %m%n"/>
    </Console>
    <File name="file" fileName="all.log" immediateFlush="false" append="true">
      <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.} - %m%n"/>
    </File>
  </Appenders>
  <Loggers>
    <AsyncLogger name="java.sql" level="DEBUG" additivity="false" includeLocation="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="file"/>
    </AsyncLogger>
    <AsyncLogger name="org.mybatis" level="DEBUG" additivity="false" includeLocation="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="file"/>
    </AsyncLogger>
    <AsyncLogger name="org.apache.tomcat.jdbc" level="DEBUG" additivity="false" includeLocation="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="file"/>
    </AsyncLogger>
    <AsyncLogger name="com.example.demo.mapper" level="DEBUG" additivity="false" includeLocation="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="file"/>
    </AsyncLogger>
    <AsyncRoot level="INFO">
      <AppenderRef ref="console"/>
      <AppenderRef ref="file"/>
    </AsyncRoot>
  </Loggers>
</Configuration>
